:root{
  --color_org: rgb(241, 91, 4);
  --color_cls: rgba(47, 72, 88, 1); 
  --color_eee: rgba(234,239,243,.66);
  --color_gold: #fbbc04;
  --color_similblack: rgba(61, 61, 61, 1);
}

@media (max-width: 767px) {
  .navbar-collapse {
    width: 50%; 
    padding: 20px; 
    background-color: #f8f9fa; 
    /*border-radius: 5px;*/
  }
  .navbar-nav {
    flex-direction: column;
  }
  .nav-item {
    margin-bottom: 10px; 
  }
}
  
.z-index-1 {
    z-index: 1000; 
}

.logoNav{
  margin-left: 100px;
}

.buttonNav{
  background-color: var(--color_org) !important;
  border: none !important;
  border-radius: 25px !important;
  padding: 10px 12px 10px 12px !important; 
  font-weight: 600 !important;
  font-size: 1.1em !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonNav:hover{
  text-transform: none !important;
  text-decoration: none !important;
  background-color: var(--color_org) !important;
  color: #fff !important;
}

.transparentBg {
  background-color: transparent !important;
  color: var(--color_org) !important;
  border: none;
}

.buttonNav.focused {
  background-color: var(--color_org) !important;
  border: 1px solid var(--color_org) !important;
  border-radius: 25px;
  padding: 10px 12px 10px 12px;
  font-weight: 600;
}

.stickyNavbar {
  position: sticky !important;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  transition: background-color 0.3s ease;
}