:root{
    --color_org: rgb(241, 91, 4);
    --color_cls: rgba(47, 72, 88, 1); 
    --color_eee: rgba(234,239,243,.66);
    --color_gold: #fbbc04;
    --color_similblack: rgba(61, 61, 61, 1);
  }

.privacyPolicy{
    padding: 120px;
    padding-top: 180px;
    background-color: rgba(245,247,255,1) !important;
}

.privacyTitle{
    color: var(--color_org);
}

.privacySub{
    color: var(--color_org);
}