:root{
    --color_org: rgb(241, 91, 4);
    --color_cls: rgba(47, 72, 88, 1); 
    --color_eee: rgba(234,239,243,.66);
    --color_gold: #fbbc04;
    --color_similblack: rgba(61, 61, 61, 1);
    --color_lightblue: rgba(245,247,255,1);
    --color_bordergray: #deddde;
  }

.serviceForm{
    padding: 120px;
    padding-top: 260px;
    background-color: var(--color_lightblue) !important;
}

.service{
    background-color: #fff;
    border: 2px solid var(--color_bordergray);
    margin: 0 auto;
    width: 70%;
    height: auto;
}

.servicesTitle{
    font-size: 1.6em;
    margin-top: 20px;
    padding-left: 40px;
}

.inputService{
    width: 85%;
    height: 40px;
    background-color: transparent !important;
    border: 1px solid black;
    border-radius: 0px;
}

.divButton{
    margin-top: 40px;
    width: 100%;
    height: 60px;
    background-color: red;
    display: flex;
    flex-direction: row;
}

.divButton2{
    border: none;
}

.leftButton{
    width: 50%;
    height: 100%;
    background-color: var(--color_org);
}

.rightButton{
    width: 50%;
    height: 100%;
    background-color: #d85915;
    text-align: end;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .1);
}

.rightButton2{
    background-color: var(--color_org);
    border-left: none;
}

.buttonText{
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
    margin-right: 40px;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
}

.triangle{
    transform: rotate(90deg);
    font-size: 0.9em;
}

.form2{
    width: 70%;
    padding-left: 40px;
}

label{
    border-radius: 15px;
}

.checkbox {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px; 
  }
  
  .checkbox:checked {
    background-color: var(--color_org);
    border: 0px;
  }